HangingPopup(:classes='"small"')
  template(slot='button')
    img.center(src='@/assets/icon/notification.png')
  template#notification(slot="content")
    p.center.text_center(style="font-style: italic") * No Notification *
