#content_container
  #background_deco
  #page_container
    #header
      h1(style="width: 30%") {{ title }}
      div(style='width: 60%;position:relative')
        input(style="height:100%;width:calc(100% - 20px)" v-model="search" placeholder="search" v-on-clickaway="away")
        div(v-if="show" style="position:absolute;background-color: white")
          button(style="width: 100%; text-align:left" v-if="result.length > 0" v-for="(e, i) in result" :key="`idkLa_${i}`" @click='to(e)') {{ e }}
          p(v-else) no result
      Notification
      MoreOptions
    #content
      slot
