Container(title="Location")
  .flex
    AnalyticCardPie(:val_obj="pie_data" style="width: 40%")
    AnalyticCardLine(:val_obj="line_data" style="width: 45%; height: 222px")
  div
    h2 Feedbacks
    Card(v-for="feedback in feedbacks" :title="feedback.user" :details="[feedback]")
