#card
  #pie_div
    div(style="width: 200px;height: 200px; position: relative")
      Pie(:rating="val_obj.average_rating")
      p.center(style="text-align: center") {{ val_obj.average_rating }}
    h3 Average Rating
  #detail_div
    p Severity: {{ val_obj.severity }}
    p Number of Ratings: {{ val_obj.number_of_ratings }}
    p Agent Assigned: {{ val_obj.agent_assigned }}
  
