tr(:class='{clickable, danger}' @click='rowClicked()')
  td(v-for='(each, i) in values' :class='align[i]')
    img(v-if="image[i]" :src='each' style="max-width: 200px; max-height: 200px")
    p(v-else) {{ value_limiter(each) || 'N/A' }}
