@import '@/assets/sass/variables'

table, th
  border: 0px
  border-right: 1px solid rgba($divider-color, .60)
  white-space: nowrap
  overflow: hidden
  &:last-child
    border-right: none

th
  &.left
    text-align: left

table
  width: 100%
  border-collapse: collapse
  background-color: white
  box-shadow: 5px 5px 5px grey
  th
    font-size: 40px
    padding: 10px 20px
  tr
    background-color: rgba(255, 255, 255, .47)
    &#header
      background-color: #455e64
      color: white
    &:nth-child(odd)
      background: rgba($normal-color, $odd-opac)
      &.clickable
        &:hover
          background-color: rgba($hover-color, $odd-opac)
      &.danger
        background: rgba($danger-color, $odd-opac)
        &.clickable
          &:hover
            background-color: rgba($danger-hiver-color, $odd-opac)
    &:nth-child(even)
      background: rgba($normal-color, $even-opac)
      &.clickable
        &:hover
          background-color: rgba($hover-color, $even-opac)
      &.danger
        background: rgba($danger-color, $even-opac)
        &.clickable
          &:hover
            background-color: rgba($danger-hiver-color, $even-opac)
