div
  table
    tr#header
      th(v-for='thead in theads' :class='thead.align') {{ thead.name }}
    Loading(:colspan='theads.length' :rowspan='rowspan' v-if='loading')
    Row(v-for='(each, i) in process_data' :key='i' :values='each.values' :item_id="each.item.id" :clickable='clickable' :danger='each.danger' :align='each.align' :url='each.url' :e_fire='each.e_fire' :image='each.image')
