table
  tr#header
    th(v-for="thead in theads" :class="thead.align") {{ thead.name }}
  tr(v-for="val in data" class="clickable" @click="rowClicked")
    td(v-for="thead in theads" :class="thead.align") {{ val.data[thead.prop] || 'N/A' }}
