#parent_frame
  #login
    #login_container.center
      #login_form.table
        div
          label(for='id') ID:
          input#id(type='text' name='username' v-model='username')
        br
        div
          label(for='pw') Password:
          input#pw(type='password' name='password' v-model='password')
        br
      #login_submit
        button(type='button' v-on:click='login()') Login
      #shade(v-if="loading")
        p.center Loading
  #app_detail.gradient
    .center
      img(src="@/assets/icon/ABC.png")
      h1 {{ app_name }}
